<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

    <title>Movie Review | Review</title>

    <!-- Loading third party fonts -->
    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='fonts/font-awesome.min.css') }}" rel="stylesheet" type="text/css">

    <!-- Loading main css file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!--[if lt IE 9]>
    <script src="{{ url_for('static', filename='js/ie-support/html5.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ie-support/respond.js') }}"></script>
    <![endif]-->
    <!-- <script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script> -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!--<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
    <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>

    <script>
        $(document).ready(function(){
            $("#search").autocomplete({source:[]});
        });
        var state = {
        };
        {% if page %}
        state["page"] = {{page}};
        {% endif %}
        {% if sort %}
        state["sort"] = "{{sort}}";
        {% endif %}
        {% if search %}
        state["search"] = "{{search}}";
        {% endif %}
        console.log("{{page}}");
        console.log("{{sort}}");
        console.log("{{search}}");
        console.log("{{pageinfos}}");

        console.log(state)
		function reload_url(kwarg) {
            var kw = kwarg.split("=");
            var key = kw[0];
            var value = kw[1];
            state[key] = value;
            var url = "/movies?"
            for (var k in state) {
                url = url + k + "=" + state[k] + "&";
            }
            url = url.slice(0, -1);
            console.log(url);
            window.location = url;
		}
		function get_suggestion(input) {
		    if (input.value == "") {
		        return;
		    }
		    var xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function() {
                if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                    update_suggestion(xmlHttp.responseText);
            }
            xmlHttp.open("GET", "/suggest/"+input.value, true); // true for asynchronous
            xmlHttp.send(null);
		}
		function update_suggestion(response) {
		    $("#search").autocomplete("option", {source: JSON.parse(response).result});
		    console.log(JSON.parse(response).result);
		}
	</script>
</head>
{% endblock %}
<body>
<div id="site-content">
    {% block site_header %}
    <header class="site-header">
        <div class="container">
            <a href="index.html" id="branding">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="" class="logo">
                <div class="logo-copy">
                    <h1 class="site-title">My Movie Lib</h1>
                    <small class="site-description"></small>
                </div>
            </a> <!-- #branding -->

            <div class="main-navigation">
                <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
                <ul class="menu">
                    <li class="menu-item"><a href="index.html">Home</a></li>
                    <li class="menu-item current-menu-item"><a href="/movies">Movie reviews</a></li>
                </ul> <!-- .menu -->

                <form action="/movies" class="search-form ui-widget" method="GET">
                    <input id="search" onkeydown="get_suggestion(this)" class="active"
                           type="text" placeholder="Search..." name="search" {% if search %} value="{{search}}" {% endif %}>
                    <button><i class="fa fa-search"></i></button>
                </form>
            </div> <!-- .main-navigation -->

            <div class="mobile-navigation"></div>
        </div>
    </header>
    {% endblock %}
    <main class="main-content">
        {% block main_content %}
        {% endblock %}
    </main>
    {% block site_footer %}
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="widget">
                        <h3 class="widget-title">About Us</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia tempore vitae mollitia nesciunt saepe cupiditate</p>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="widget">
                        <h3 class="widget-title">Recent Review</h3>
                        <ul class="no-bullet">
                            <li>Lorem ipsum dolor</li>
                            <li>Sit amet consecture</li>
                            <li>Dolorem respequem</li>
                            <li>Invenore veritae</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="widget">
                        <h3 class="widget-title">Help Center</h3>
                        <ul class="no-bullet">
                            <li>Lorem ipsum dolor</li>
                            <li>Sit amet consecture</li>
                            <li>Dolorem respequem</li>
                            <li>Invenore veritae</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="widget">
                        <h3 class="widget-title">Join Us</h3>
                        <ul class="no-bullet">
                            <li>Lorem ipsum dolor</li>
                            <li>Sit amet consecture</li>
                            <li>Dolorem respequem</li>
                            <li>Invenore veritae</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="widget">
                        <h3 class="widget-title">Social Media</h3>
                        <ul class="no-bullet">
                            <li>Facebook</li>
                            <li>Twitter</li>
                            <li>Google+</li>
                            <li>Pinterest</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="widget">
                        <h3 class="widget-title">Newsletter</h3>
                        <form action="#" class="subscribe-form">
                            <input type="text" placeholder="Email Address">
                        </form>
                    </div>
                </div>
            </div> <!-- .row -->

            <div class="colophon">Copyright 2014 Company name, Designed by Themezy. All rights reserved</div>
        </div> <!-- .container -->

    </footer>
    {% endblock %}
</div>
<!-- Default snippet for navigation -->

</body>
</html>